.advantage {
	display: flex;
	flex-direction: column;
	align-items: center;
	border:1px solid #fafafa;
	padding: 60px 50px 50px;
	transition: box-shadow .2s;

	&__icon {
		height: 120px;
		width: 120px;
		border-radius: 50%;
		background: $color-secondary;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: rem(10px);
		transition: box-shadow .3s;
		margin-bottom: rem(30px);
		svg {
			width: 80%;
			height: 80%;
		}
	}
	&__title {
		font-size: rem(18px);
		text-transform: uppercase;
		margin-bottom: rem(30px);
	}
	&__text{
		font-size: rem(12px);
		line-height:1.5em;
		text-align: center;
		margin-bottom: 1.5em;
		flex-grow:1;
		color: #9a9a9a;

	}
	&:hover {
		@at-root & {
				box-shadow: 0px 20px 50px 10px rgba(13, 12, 13, 0.13);

			.advantage {
				&__icon {
					box-shadow: 0 0 0 10px transparentize($color-primary,.8),0 0 0 3px $color-primary ;
				}
			}
		}
	}
	&--lite{
		@at-root &{
			padding: rem(40px) rem(0) rem(50px);
			border: none;
			.advantage{
				&__title{
					font-weight: 700;
					font-size:rem(18px);
					color: #252525;
					margin-bottom: 0;
				}
				&__text{
					font-size: rem(16px);
					color: #8c8c8c;
				}
			}
		}
	}
}