ul.asideMenu {
  background: $color-secondary;
  padding: 0;
  margin: 0;
  ul {
    padding: 0;
    display: none;
  }
  .has-subMenu {
    & > a {
      display: flex;
      align-items: center;
    }
    & > a:after {
      content: '';
      display: inline-block;
      flex-shrink: 0;
      height: .7em;
      width: .7em;
      border-bottom: 1px solid #fff;
      border-right: 1px solid #fff;
      transform: rotate(-45deg);
      transition: transform .2s;
      margin-left: 1em;
    }
    &.is-open {
      & > a {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  & > li {
    position: relative;
    padding: rem(20px) rem(20px);
    font-size: rem(15px);
    line-height: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    &.has-subMenu>a {
      justify-content: space-between;
    }
    & > a {
      flex-basis: 100%;
      text-transform: uppercase;

    }

    &.is-active {
      & > a {
        color: $color-primary;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 0;
        right: 100%;
        border-left: 5px solid $color-primary;
      }
    }
    &:last-child {
      border-bottom: none;
    }
    & > ul {
      margin-top: rem(20px);

      & > li {
        list-style: none;
        font-size: rem(14px);
        margin-bottom: rem(10px);

        & > a {
        }
        &.is-active{
          &>a{text-decoration: underline;}
        }
        &>ul{
          margin-top: rem(10px);
          padding-left:.2em;
          list-style-type: none;
          &>li{
            &:before{
              content: '- ';
            }
          }
        }
      }
    }
  }

}