$fontSize: $page-fontSize;
$font: $font-primary;
$minWidth: $page-minWidth;
$lineHeight: $page-lineHeight;
$color: $page-color;
$background: $page-background;
/* Base
==================================================================================================== */

html, body {
	height:100%;
	margin:0;
	padding:0;
}

html {
	display: block;
	font-family: $font;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-width: $minWidth;
	line-height: $lineHeight;
	font-size: 100%;
	color: $color;
	background: $background;
	-webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}
svg{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}
a{
	text-decoration: none;
	color: inherit;
	&.inverseLink{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}

@include media(sm) {
	html {
		font-size: 14px;
	}
}
@include media(md) {
	html {
		font-size: $fontSize;
	}
}
