/* Button
==================================================================================================== */

// Button base
//-------------------------------------------------------------------------------------------------- //

%buttonBase {
	display: inline-flex;
	outline: 0;
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	touch-action: manipulation;
	justify-content: space-around;
	text-align: center;
	background: transparent;
}

// Default button
//-------------------------------------------------------------------------------------------------- //
.button {
	@extend %buttonBase;
	height: rem(34px);
	font-size:rem(14px);

}
.button--primary{
	color: #fff;
	background: $color-primary;
	border:none;
	min-width: 200px;

}

