/* Layout
==================================================================================================== */

/* pageWrapper
---------------------------------------------------------------------------------------------------- */

.pageWrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

/* pageHeader
---------------------------------------------------------------------------------------------------- */

.pageHeader {
	background-color: $color-white;
	padding: rem(15) rem(10);
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		margin-right: rem(20); /* 20px */
		&:last-child {
			margin-right: 0;
		}
	}
}

/* pageMain
---------------------------------------------------------------------------------------------------- */

.pageMain {
	flex-grow: 1;
}

/* pageSize
---------------------------------------------------------------------------------------------------- */

.pageSize {
	max-width: $page-maxWidth + 20;
	margin-left: auto;
	margin-right: auto;
	padding-left: rem(10);
	padding-right: rem(10);
}

/* pageFotoer
---------------------------------------------------------------------------------------------------- */

.pageFooter {}

/* pageSection
---------------------------------------------------------------------------------------------------- */

.pageSection {
}