/* Layout
==================================================================================================== */

/* pageWrapper
---------------------------------------------------------------------------------------------------- */

.pageWrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

/* pageMain
---------------------------------------------------------------------------------------------------- */

.pageMain,.pageContainer {
	flex-grow: 1;
}

/* pageSize
---------------------------------------------------------------------------------------------------- */

.pageSize {
	width: 100%;
	max-width: $page-maxWidth + 20;
	margin-left: auto;
	margin-right: auto;
	//padding-left: rem(10);
	//padding-right: rem(10);
}

/* pageFotoer
---------------------------------------------------------------------------------------------------- */

.pageFooter {
	order: 999999;
}

/* pageSection
---------------------------------------------------------------------------------------------------- */

.pageSection {
	padding: rem(60px) 0;
	&__topText{
		font-size:rem(16px);
		text-align:center;
		color: #606060;
	}
	&__footer{
		margin-top: 60px;
		display: flex;
		justify-content:center;
	}
	&--bg-gray{
		background: #fafafa;
	}
	&--bg-primary{
		background: $color-secondary;
	}
	&--partialBg{
		position: relative;
		&:before{
			content: '';
			display: block;
			background: $color-primary;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			margin: auto;
			height:calc(100% - 100px);
		}
	}
}
.sectionTitle {
	padding-bottom: rem(35px);
	margin-bottom:rem(50px);
	color: #000;
	font-size: rem(30px);
	text-transform: uppercase;
	text-align: center;
	position: relative;
	&:after{
		content: '';
		display: block;
		width: 70px;
		height: 2px;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
		background: $color-primary;
		position: absolute;
	}
	&--small{
		font-size: rem(25px);
		padding:rem(35px) 0;
		margin: 0;
		text-transform: none;
		letter-spacing:2px;
		&:after{
			display: none;
		}
	}
	&--white{
		color: #fff;
		&:after{
			background: #fff;
		}
	}
}

.pageSeoText{
	order: 1000;
}