.mediaBlock {
	display: flex;
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__image {
		width: 300px;
		height: 200px;
		flex-basis: 300px;
		max-width: 50%;
		flex-shrink: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 30px;
		position: relative;
		background-color: gray;
	}
	&__title {
		color: #3d3d3d;
		font-weight: 700;
		font-size: rem(14rem);
		text-transform: uppercase;
		overflow: hidden;
	}
	&__text {
		color: #636363;
		font-size: rem(14px);
		line-height: rem(18px);
		padding: 1em 0;
		flex-grow: 1;
	}
	&__date {
		height: rem(55px);
		width: rem(55px);
		background: $color-primary;
		color: #fff;
		font-size: rem(22px);
		position: absolute;
		left: rem(20px);
		top: rem(-10px);
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		line-height: rem(20px);

		small {
			text-transform: uppercase;
			font-size: rem(17px);
			font-family: $font-secondary;
		}
	}
	&__link {
		font-size: rem(12px);
		color: $color-primary;

	}
	&__textInner {
		max-height: rem(18px * 4);
		overflow: hidden;
	}
	&--inverse {
		@at-root & {
			.mediaBlock {
				&__title {
					color: #fff;
				}
				&__text {
					color: #e9e9e9;
				}
			}
		}
	}
	&--in-aside {
		display: block;
		margin-bottom: rem(50px);
		.mediaBlock {
			&__image {
				margin: 0 0 10px;
				max-width: 100%;
				height: 0;
				padding-top: 42%;
			}
			&__title {
				color: #3d3d3d;
				font-size: rem(11px);
				line-height: rem(16px);
				margin-bottom: 10px;
				text-decoration: underline;

			}
			&__date {
				height: rem(30px);
				width: rem(30px);
				left: rem(25px);
				font-size: rem(16px);
				line-height: rem(15px);

				small {
					font-size: rem(11px);

				}
			}
		}
		&:last-child {
			margin-bottom: rem(30px);
		}
	}
	&--air {
		height: 220px;
		position: relative;
		.mediaBlock {
			&__title, &__text {
				font-size: rem(12px);
				line-height: 1.5em;
				max-height: 4.5em;
				overflow: hidden;
				padding: 0;
			}
			&__text{
				margin:1em 0;
			}


			&__image {
				margin: 0;
			}
			&__content {
				position: absolute;
				display: block;
				bottom: 0;
				right: 0;
				background: #fff;
				padding: rem(20px);
				max-width: 250px;

			}
		}
	}
}