.pagination {
	display: flex;
	justify-content: center;
	margin-top: rem(50px);
	&__link {
		padding: 0 10px;
		height: 25px;
		display: inline-flex;
		align-items: center;
		transition: background, color .2s;
		background: transparent;
		border: none;
		&--next {
			margin-left: 10px;
		}
		&--prev {
			margin-right: 10px;
		}
		&:hover, .is-active {
			background: $color-primary;
			color: #fff;
			cursor: pointer;

		}
	}


}