.shareBlock {
	position: relative;
	min-width: 300px;
	&__title {
		font-size: rem(30px);
		color: $color-primary;
		margin-bottom: rem(20px);
	}
	&__arrow {
		right: 0;
		fill: #dfdfdf;
		position: absolute;
		bottom: 0;
		height: 50px;
		width: 140px;
		@include media(md) {
			right: 50px;

		}

	}

}