.videoLink{
	display: block;
	position: relative;
	height: 0;
	padding-top: 84.21%;
	background-position: 50% 50%;
	&:before,&:after{
		content: '';
		opacity:0;
		transition: opacity .2s;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
	&:before{
		display: block;
		position: absolute;
		background: rgba(0,0,0,.5);
	}
	&:after{
		height: 35px;
		width: 40px;

		background: url('../css/pic/play.svg') center no-repeat;
		background-size:contain;
	}
	&:hover{
		&:before,&:after{
			opacity: 1;
		}

	}
}