$gutter: $global-gutter;
$gutterFactor: $global-gutterFactor;
$suffix: $global-suffix;
$breakpoints: $global-breakpoints;
$enable-flex:true;
$columns:12;

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $gutter) {
	@if $enable-flex {
		display: flex;
		flex-wrap: wrap;
	} @else {
		@include clearfix();
	}
	margin-left:  ($gutter / -2);
	margin-right: ($gutter / -2);
}

// Make the element grid-ready (applying everything but the width)
@mixin make-col-ready($size, $columns: $columns, $gutter: $gutter) {
	position: relative;
	min-height: 1px; // Prevent collapsing
	padding-right: ($gutter / 2);
	padding-left:  ($gutter / 2);

	// Prevent columns from becoming too narrow when at smaller grid tiers by
	// always setting `width: 100%;`. This works because we use `flex` values
	// later on to override this initial width.
	@if $enable-flex {
		width: 100%;
	}
}

@mixin make-col($size, $columns: $columns, $gutter: $gutter) {
	@if $enable-flex {
		flex: 0 0 percentage($size / $columns);
		// Add a `max-width` to ensure content within each column does not blow out
		// the width of the column. Applies to IE10+ and Firefox. Chrome and Safari
		// do not appear to require this.
		max-width: percentage($size / $columns);
	} @else {
		float: left;
		width: percentage($size / $columns);
	}
}


@mixin makeGrid($columns :$columns, $inRems: $gridInRems) {

	@if $inRems {
		$gutter: rem($gutter);
	}

    .grid {
       @include make-row($gutter);
		&--inline {
			display: inline-flex;
		}
        &--items-start {
            align-items: flex-start;
        }
        &--items-end {
            align-items: flex-end;
        }
        &--items-center {
            align-items: center;
        }
        &--items-stretch {
            align-items: stretch;
        }
        &--justify-start {
            justify-content: flex-start;
        }
        &--justify-end {
            justify-content: flex-end;
        }
        &--justify-center {
            justify-content: center;
        }
        &--justify-between {
            justify-content: space-between;
        }
        &--justify-around {
            justify-content: space-around;
        }
        &--nowrap {
            flex-wrap: nowrap;
        }
        &--column {
            flex-direction: column;
        }
        @for $i from 1 through $columns {
            &--#{$i} {
                >.grid__cell {
                    width: 100%/$i;
                    max-width: 100%/$i;
                    flex-basis: 100%/$i;
                }
            }
        }
        @each $k,
        $v in $gutterFactor {
            &--space#{$k} {
				margin: ($gutter*$v)/-2;
				> .grid__cell {
					padding: ($gutter*$v)/2;
				}
            }
        }
        &__cell {
            display: inline-block;
            &--start {
                align-self: flex-start;
            }
            &--end {
                align-self: flex-end;
            }
            &--center {
                align-self: center;
            }
            &--stretch {
                align-self: stretch;
            }
            &--nogrow {
                flex-grow: 0;
            }
            &--grow {
                flex-grow: 1;
            }
            &--shrink {
                flex-shrink: 1;
            }
            &--noshrink{
                flex-shrink: 0;
            }
            &--order-start {
                order: -1;
            }
            &--order-end {
                order: 1;
            }
			&--noorder {
                order: 0;
            }
            &--nobasis {
                flex-basis: 0;
            }
        }
        @for $i from 1 through $columns {
            &__cell--#{$i} {
                @include make-col($i)
            }
        }
        &__box {
            height: 100%;
			min-height: 100%;
        }
        @each $name,
        $v in $breakpoints {
            @include media($name) {
                &--#{$name}#{$suffix}items-start {
                    align-items: flex-start;
                }
                &--#{$name}#{$suffix}items-end {
                    align-items: flex-end;
                }
                &--#{$name}#{$suffix}items-center {
                    align-items: center;
                }
                &--#{$name}#{$suffix}items-stretch {
                    align-items: stretch;
                }
                &--#{$name}#{$suffix}justify-start {
                    justify-content: flex-start;
                }
                &--#{$name}#{$suffix}justify-end {
                    justify-content: flex-end;
                }
                &--#{$name}#{$suffix}justify-center {
                    justify-content: center;
                }
                &--#{$name}#{$suffix}justify-between {
                    justify-content: space-between;
                }
                &--#{$name}#{$suffix}justify-around {
                    justify-content: space-around;
                }
                &--#{$name}#{$suffix}nowrap {
                    flex-wrap: nowrap;
                }
                &--#{$name}#{$suffix}wrap {
                    flex-wrap: wrap;
                }
                &--#{$name}#{$suffix}column {
                    flex-direction: column;
                }
                &--#{$name}#{$suffix}row {
                    flex-direction: row;
                }
                @for $i from 1 through $columns {
                    &--#{$name}#{$suffix}#{$i} {
                        >.grid__cell {
                            width: 100%/$i;
                            max-width: 100%/$i;
                            flex-basis: 100%/$i;
                        }
                    }
                }
                @each $k,
                $v in $gutterFactor {
                    &--#{$name}#{$suffix}space#{$k} {
						margin: ($gutter*$v)/ -2;
						> .grid__cell {
							padding: ($gutter*$v)/2;
						}
                    }
                }
                &--#{$name}#{$suffix}nospace {
                    margin: 0;
                    >.grid__cell {
                        padding: 0;
                    }
                }
                @for $i from 1 through $columns {
                    &__cell--#{$name}#{$suffix}#{$i} {
                        width: ($i*100%)/$columns;
                        max-width: ($i*100%)/$columns;
                        flex-basis: ($i*100%)/$columns;
                    }
                }
                &__cell--#{$name}#{$suffix}auto {
                    width: auto;
                    max-width: 100%;
                    flex-basis: auto;
                }
				&__cell {
					&--#{$name}#{$suffix}start {
						align-self: flex-start;
					}
					&--#{$name}#{$suffix}end {
						align-self: flex-end;
					}
					&--#{$name}#{$suffix}center {
						align-self: center;
					}
					&--#{$name}#{$suffix}stretch {
						align-self: stretch;
					}
					&--#{$name}#{$suffix}nogrow {
						flex-grow: 0;
					}
					&--#{$name}#{$suffix}grow {
						flex-grow: 1;
					}
					&--#{$name}#{$suffix}shrink {
						flex-shrink: 1;
					}
					&--#{$name}#{$suffix}noshrink {
						flex-shrink: 0;
					}
					&--#{$name}#{$suffix}order-start {
						order: -1;
					}
					&--#{$name}#{$suffix}order-end {
						order: 1;
					}
					&--#{$name}#{$suffix}noorder {
						order: 0;
					}
					&--#{$name}#{$suffix}nobasis {
						flex-basis: 0;
					}
				}
            }
        }
    }
}
