@mixin util-text {
	._font-primary {
		font-family: $font-primary;
	}
	._font-secondary {
		font-family: $font-secondary;
	}
	._font-light {
		font-weight: $font-light;
	}
	._font-medium {
		font-weight: $font-medium;
	}
	._font-bold {
		font-weight: $font-bold;
	}
	._ellipsis {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	._text-center {
		text-align: center;
	}
	._text-end {
		text-align: right;
	}
	._text-start {
		text-align: left;
	}
	@each $name,
	$v in $global-breakpoints {
		@include media($name) {
			._#{$name}#{$suffix}text-center {
				text-align: center;
			}
			._#{$name}#{$suffix}text-end {
				text-align: right;
			}
			._#{$name}#{$suffix}text-start {
				text-align: left;
			}
		}
	}
}