////
/// @group config.scss
////





	// Global fonts
	// =============

/// Глобальное семейство шрифта
/// @type Map | Keyword
$globalFontFamily: sans-serif;

/// Глобальный размер шрифта
/// @type Number
$globalFontSize: 16px;

/// Глобальная высота текстовой линии
/// @type Number
$globalLineHeight: 1.4em;





	// Global colors
	// =============

/// Цвета текста выделения
/// @type Color
$globalSelectionColor: #fff;

/// Цвета фона выделения
/// @type Color
$globalSelectionBgColor: #2597ff;

/// Цвета плейсхолдера
/// @type Color
$globalPlaceHolderColor: #999;





	// Импорты
	// =============

// libs
@import 'addons/libs/normalize';

// mixins
@import 'addons/mixins/globals';

// partials
@import 'addons/partials/breadcrumbs';
