@import 'config';

@include makeGrid();
@include make-colors;
@include make-gutters;
/* Text helpers
==================================================================================================== */
//@include util-text;

/* Visibility helpers
==================================================================================================== */
//@include util-visibility;

@import '_partials/base';
@import '_partials/layout';
@import '_partials/header';
@import '_partials/breadcrumbs';
@import '_partials/menu';
@import '_partials/button';
@import '_partials/wtxt';
@import '_partials/advantages';
@import '_partials/personal';
@import '_partials/videoLink';
@import '_partials/priceBlock';
@import '_partials/textReviews';
@import '_partials/mediaBlock';
@import '_partials/footer';
@import '_partials/_asideMenu';
@import '_partials/_pagination';
@import '_partials/_categoryLink';
@import '_partials/_shareBlock';
@import '_partials/_modelPreviews';
@import '_partials/forms';
@import '_partials/rateit';

@mixin brand-shadow(){
	box-shadow: 0px 53px 67px 0px rgba(13, 12, 13, 0.24);
}
.compatibilityImage {
	right: rem(-20px);
	bottom: rem(-90px);
	z-index: 1;
}

.bg-doctor {
	position: relative;
	min-height: 340px;
}

.bg-doctor:before {
	content: '';
	display: block;
	width: 400px;
	height: 400px;
	background: url('../css/pic/promo-doctor.png') no-repeat;
	background-position: left 20px bottom 0;
	background-clip: content-box;
	background-size:contain;
	position: absolute;
	bottom: rem(-60px);
	left: 60px;

}

.layeredBlock {
	margin-left: auto;
	margin-top: 50px;
	width: 500px;
	position: relative;

	&__top {
		position: relative;
		background: $color-primary;
		color: #fff;
		font-size: rem(16px);
		padding: rem(40px) rem(30px) rem(40px) rem(50px);
		@include brand-shadow;

	}
	&__arrow{
		fill:#dfdfdf;
		position: absolute;
		top: 10px;
		right:calc(100% - 30px);
	}
	&__bottom {
		display: block;
		position: absolute;
		width: calc(100% + 50px);
		height: calc(100% + 20px);
		top: 25px;
		right: 20px;
		background: #fff;
		@include brand-shadow;
	}
}
.article__image{
	position: relative;
	max-width: 50%;
	float: left;
	margin-right:2em;
	margin-bottom: 2em;
	img{@include brand-shadow;}
}