@import 'config';

@include makeGrid();
@include make-colors;
@include make-gutters;
/* Text helpers
==================================================================================================== */
//@include util-text;

/* Visibility helpers
==================================================================================================== */
//@include util-visibility;

@import '_partials/base';
@import '_partials/layout';
@import '_partials/header';
@import '_partials/menu';
@import '_partials/button';
@import '_partials/wtxt';
@import '_partials/advantages';
@import '_partials/personal';
@import '_partials/videoLink';
@import '_partials/textReviews';
@import '_partials/mediaBlock';
@import '_partials/footer';


.compatibilityImage{
	position: absolute;
	right: rem(-20px);
	bottom: rem(-90px);
	z-index:1;
}