/* Logo
==================================================================================================== */

.logo {
	display: inline-flex;
	align-items: center;
	&__secondary {
		margin-left: rem(10);
	}
}
