////
/// @group _base.scss
////





	// mixins
	// ========

/// установка цвета `placeholder` с учетом вендорных префиксов
/// type
/// @param {Color} $color - цвет текста
/// @param {Boolean} $changeOpacity [false] - указать прозрачность для `::-moz-`
@mixin placeholder($color, $changeOpacity: false) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
		@if $changeOpacity {
			opacity: .5;
		}
	}
	&:-ms-input-placeholder {
		color: $color;
	}
}
/// установка цвета `placeholder` при фокусе
/// @param {Color} $color [transparent] - цвет текста
/// @require {mixin} placeholder
@mixin placeholderOnFocus($color: transparent) {
	&:focus {
		@include placeholder($color);
	}
}





	// Critical
	// ========

@mixin baseCritical {
	// изменение семейства шрифта по умолчанию во всех браузерах
	// корректное отображение и растягивание по экрану
	html {
		font-family: $globalFontFamily;
		position: relative;
		height: 100%;
	}

	// наследуем бокс
	*, :after, :before {
		box-sizing: inherit;
	}

	// убераем `margin`
	// корректное отображение и растягивание по экрану
	body {
		margin: 0;
		position: relative;
		height: 100%;
		box-sizing: border-box;
		font-size: $globalFontSize;
		line-height: $globalLineHeight;
	}

	// смена `border`, `margin` и `padding` во всех браузерах
	fieldset {
		border: 1px solid #c0c0c0;
		margin: 0 2px;
		padding: 0.35em 0.625em 0.75em;
	}

	// коррекция `text wrapping` в Edge и IE
	// коррекция наследования `color` от `fieldset` элемента в IE
	// убераем `padding` при обнудении `fieldset` элемента во всех браузерах
	legend {
		box-sizing: border-box;
		color: inherit;
		display: table;
		max-width: 100%;
		padding: 0;
		white-space: normal;
	}

	// корректное отбражение во всех браузерах
	code, kbd, pre, samp {
		font-family: monospace, monospace;
		font-size: 1em;
	}

	pre {
		padding: 1.2em;
		border-width: 0;
		white-space: pre;
		white-space: pre-wrap;
		background: #ddd;
		word-wrap: break-word;
	}

	// корректное отбражение `box-sizing` в Firefox
	// `overflow` в Edge и IE
	hr {
		box-sizing: content-box;
		height: 0;
		overflow: visible;
	}

	small {
		font-size: 80%;
	}

	// корректировка отображения и `line-height` во всех браузерах
	sub, sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	sub {
		bottom: -0.25em;
	}
	sup {
		top: -0.5em;
	}

	// корректное отображение font-size и margin в контексте `section` и `article` Chrome, Firefox, and Safari
	// раскомментировать при необходимости
		// h1 {
		// 	font-size: 2em;
		// 	margin: 0.67em 0;
		// }

	// корректное отбражение в IE 8
	// раскомментировать при необходимости
		// figure {
		// 	margin: 1em 40px;
		// }

}





	// External
	// ========

@mixin baseExternal {

	// коррекция выделения текста во всех браузерах
	::selection {
		text-shadow:none;
		color: $globalSelectionColor;
		background: $globalSelectionBgColor;
	}
	::-moz-selection {
		text-shadow:none;
		color: $globalSelectionColor;
		background: $globalSelectionBgColor;
	}
	::-ms-selection{
		text-shadow:none;
		color: $globalSelectionColor;
		background: $globalSelectionBgColor;
	}

	input {
		@include placeholder($globalPlaceHolderColor, true);
		@include placeholderOnFocus();
	}

	textarea {
		@include placeholder($globalPlaceHolderColor, true);
		@include placeholderOnFocus();
	}

}



	// All
	// ========

@mixin baseAll {
	@include baseCritical;
	@include baseExternal;
}
