////
/// @group _normalize.scss
////





	// Critical
	// ========

@mixin normalizeCritical {
	// изменение семейства шрифта по умолчанию во всех браузерах
	html {
		font-family: $globalFontFamily;
		position: relative;
		height: 100%;
	}

	// наследуем бокс
	*, :after, :before {
		box-sizing: inherit;
	}

	// убераем margin
	body {
		margin: 0;
		position: relative;
		height: 100%;
		box-sizing: border-box;
	}

	// корректное отображение в IE, Edge и Firefox
	article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
		display: block;
	}

	// корректное отображение в IE 9-
	audio, canvas, progress, video {
		display: inline-block;
	}

	// корректное отображение в iOS 4-7
	audio:not([controls]) {
		display: none;
		height: 0;
	}

	// корректное отображение в Chrome, Firefox и Opera
	progress {
		vertical-align: baseline;
	}

	// Убераем серый фон, при активном состоянии, в IE 10
	// Фикс подчеркинвания в iOS 8+ и Safari 8+
	a {
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	}
}





	// External
	// ========

@mixin normalizeExternal {
	// Предотвращение корректировки размера шрифта после изменения ориентациия в `IE` и `iOS`
	html {
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}

	// корректное отображение в IE
	template,
	[hidden] {
		display: none;
	}

	a:active,
	a:hover {
		outline-width: 0;
	}
}





	// All
	// ========

@mixin normalizeAll {
	@include normalizeCritical;
	@include normalizeExternal;
}
