<div class="pageHeader">
	<div class="pageSize">
		<p>ТОВ  Альфа-Мед Юкрейн </p>
		<div class="languageLinks">
			<pa>asdfljkashdf</pa>
			<% var Languages = ['SPA','FRA','RU','ENG','DEU'] %>
			<% for (lang in Languages) {%>
			<a href="#" class="languageLink">
				<div class="languageLink__icon"></div>
				<span class="languageLink__text"><%lang%></span>
			</a>
			<%}%>
		</div>
	</div>
</div>
