////
/// @group reset.scss
////

@import '../config';

@include normalizeCritical;
@include baseCritical;


.no-dataview .box { color: red; }
.dataview .box { color: green; }
.no-cssexunit .box { color: red; }
.cssexunit .box { color: green; }
