<form class="js-form">
	<input required type="text" data-name="demo-simple-input" name="demo-simple-input" id="demo-simple-input" placeholder="required">
	<input type="submit">
</form>
<div class="js-form" data-form="true">
	<input required type="text" data-name="demo-simple2-input" name="demo-simple2-input" id="demo-simple2-input" placeholder="required">
	<input type="submit" class="js-form-submit">
	<button class="js-form-reset">sdfsdf</button>
</div>
