<%

	// файлы
	// ========
		// список основных файлов
		locals._viewsFiles = {
			index: {
				title: 'Главная страница',
				hasSeoText: false,
				seoTextContent: '../widgets/seo-text'
			},
			gallery_photo: {
				title: 'Галерея | Фото',
				hasSeoText: false
			},
			gallery_video: {
				title: 'Галерея | Фото',
				hasSeoText: false
			},
			sitemap: {
				title: 'Карта сайта',
				parent: 'index',
				hasSeoText: false
			}
		};

		for (let file in _viewsFiles) {
			_viewsFiles[file].alias = file;
			_viewsFiles[file].file = `${file}.html`;
		}

		// текущий файл
		locals._activeFileData = _viewsFiles[_activeFile];




	// версии файлов
	// =============
		locals._fileVersions = {
			favicons: {
				append: true,
				generate: true,
				default: '?v=zXdXyg2vAg'
			},
			svgsprite: '?v=zXdXyg2vAg'
		};

		locals.buildMenu = function(arr) {
			var html = [];
			var end = '</li>';
			for (i in arr) {
				var item = arr[i];
				var li = `<li ${item.active?"class='is-active'":""}><a href="${item.url}.html">${item.text}</a>`;
				if (item.hasOwnProperty('submenu')) {
					li += `<ul>${BuildMenu(item.submenu)}</ul>`
				}
				li += end;
				html.push(li);
			}
			return html.join('\n');
		}
%>


<% include helpers/versions %>
<% include helpers/attrs %>

