<div class="mfiModal mfiModal--md">
    <div class="mfiModal__header">
        <div class="mfiModal__title">
            <p>Для того, чтобы предоставить Вам детальную информацию заполните,пожалуйста форму ниже</p>
        </div>
        <div class="mfiModal__subtitle">
            <p>Прайс на приборы зависит от страны, в которой Вы находитесь</p>
        </div>
    </div>
    <div class="mfiModal__body">
        <div class="priceForm js-form form" data-form="true">
            <div class="grid grid--space grid--items-center">
                <div class="grid__cell">
                    <label for="">Ваше имя, фамилия:</label>
                    <div class="form__dib"><input class="form__input" type="text" name="name" placeholder="Пример: Иванов Иван" data-rule-word="true" data-rule-minlength="2" required></div>
                </div>
                <div class="grid__cell">
                    <label for="">Ваша страна <span>*</span></label>
                    <div class="form__dib"><input class="form__input" type="text" name="country" placeholder="Пример: Украина" required data-rule-word="true"></div>
                </div>
                <div class="grid__cell">
                    <label for="">Ваш город <span>*</span></label>
                    <div class="form__dib"><input class="form__input" type="text" name="city" placeholder="Пример: Киев" required data-rule-word="true"></div>
                </div>
                <div class="grid__cell">
                    <label for="">Ваш e-mail<span>*</span></label>
                    <div class="form__dib"><input class="form__input" id="demo_equalTo_email" type="email" name="email" placeholder="Пример: myemail@mail.com" required data-rule-email="true"></div>
                </div>
                <div class="grid__cell">
                    <label for="">Повторите Ваш e-mail<span>*</span></label>
                    <div class="form__dib"><input class="form__input" type="email" name="email1" id="demo_equalTo_email_to" placeholder="Пример: myemail@mail.com" data-rule-email="true" required data-rule-equalTo="#demo_equalTo_email"></div>
                </div>
                <div class="grid__cell">
                    <label for="">Примечания:</label>
                    <div class="form__dib"><textarea class="form__input--textarea" placeholder="Введите ваши примечания" data-rule-minlength="10" required></textarea></div>
                </div>
                <div class="grid__cell">
                    <label for="" class="description_range">Перетащите ползунок, если Вы не робот</label>
                    <!--<input type="text" id="slider-toggle">-->
                    <div class="form__dib"><div id="slider-connect" class="range-slider"></div></div>
                </div>
                <div class="notate_mfi">« <span>*</span> » Обязательны поля для заполнения</div>
                <div class="grid__cell">
                    <span class="js-form-submit button button--primary">Отправить</span>
                </div>
            </div>
        </div>
    </div>
</div>