<%
// alias текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>
<div class="pageSection">
	<div class="pageSize">
		<div class="grid grid--md-nowrap">
			<%- partial('../widgets/pageAside', {Menu: Menus.contacts}) %>
			<div class="grid__cell grid__cell--grow grid__cell--order-start grid__cell--md-noorder">
				<section class=" pageCenter">
					<%- Build.breadcrumbs() %>
					<div class="sectionTitle sectionTitle--inner">Контакты</div>

					<div class="grid grid--justify-between">
						<div class="grid__cell grid__cell--contacts grid__cell--grow">
							<div class="contactColumn__caption">Адрес</div>
							<div class="contactColumn__content">
								02091, Украина, город Киев,<br>
								улица Харьковское шоссе 164,<br>
								ООО "Альфа-Мед Юкрейн
							</div>
						</div>
						<div class="grid__cell grid__cell--contacts grid__cell--grow">
							<div class="contactColumn__caption">Свяжитесь с нами</div>
							<div class="contactColumn__content">
								<span>Email:</span>
								<a class="_wb" href="mailto:ХХХХХХХ@gmail.com">ХХХХХХХ@gmail.com</a><br>
								Skype: ХХХХХХ<br>
								<a href="#">Показать контакты</a>
							</div>
						</div>
						<div class="grid__cell grid__cell--contacts grid__cell--grow">
							<div class="contactColumn__caption">Телефоны</div>
							<div class="contactColumn__content">
								<a href="tel:+38 (068) 201-ХХ-ХХ">+38 (068) 201-ХХ-ХХ</a><br>
								<a href="tel:+38 (044) 227-ХХ-ХХ">+38 (044) 227-ХХ-ХХ</a><br>
								<a href="#">Показать контакты</a>

							</div>
						</div>
						<div class="grid__cell grid__cell--contacts grid__cell--grow">
							<div class="contactColumn__caption">Время работы</div>
							<div class="contactColumn__content">
								ПН - Пт : 10:00 -18:00<br>
								Сб : 10:00 - 15:00<br>
								Вс - выходной
							</div>
						</div>
					</div>
					<hr>
					<p style="font-size:0.75rem"><b>ГЛАВНЫЙ ТОРГОВЫЙ ОФИС В УКРАИНЕ</b></p>
					<div class="googlemap"
						 id="map"
						 data-lat="50.415"
						 data-lng="30.660"
						 data-zoom=18
						 data-marker="/css/pic/marker_icon.png"
					>
					</div>
					<hr>
					<div class="grid grid--justify-between">
						<div class="grid__cell">
							<div class="shareBlock">
								<div class="shareBlock__title">Понравилась страница?</div>
								<div class="shareBlock__text">Расскажите друзьям</div>
								<svg class="shareBlock__arrow">
									<use xlink:href="hidden/sprite.svg#share_arrow"></use>
								</svg>
								<img src="css/pic/share.png" alt="">
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
