<%
// alias текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>
<div class="pageSection">
    <div class="pageSize">
        <div class="grid grid--md-nowrap">
                <%- partial('../widgets/pageAside', {Menu: Menus.equipment}) %>
            <div class="grid__cell grid__cell--grow grid__cell--order-start grid__cell--md-noorder">
                <section class=" pageCenter">
                    <%- Build.breadcrumbs() %>
                    <div class="sectionTitle sectionTitle--inner">Сенситив Имаго 530</div>
                    <div class="wTxt">
                        <div class="modelPreviews grid mfi-gallery">
                            <div class="grid__cell grid__cell--12">
                                <a href="images/model1.jpg" class="modelPreview" style="background-image: url('images/model1.jpg');"></a>
                            </div>
                            <div class="grid__cell grid__cell--4">
                                <a href="images/model2.jpg" class="modelPreview" style="background-image: url('images/model2.jpg');"></a>
                            </div>
                            <div class="grid__cell grid__cell--4">
                                <a href="images/model3.jpg" class="modelPreview" style="background-image: url('images/model3.jpg');"></a>
                            </div>
                            <div class="grid__cell grid__cell--4">
                                <a href="images/model4.jpg" class="modelPreview" style="background-image: url('images/model4.jpg');"></a>
                            </div>
							<div class="_hide">
								<a href="images/index_new1.jpg"></a>
								<a href="images/index_new2.jpg"></a>
								<a href="images/index_new3.jpg"></a>
								<a href="images/index_new4.jpg"></a>
							</div>
                        </div>
                        <b>СЕНСИТИВ ИМАГО 530</b>
                        <p>Сенситив Имаго 515, 500, 530. Модели градации «500» представляют лучшие приборы Сенситив
                            Имаго.</p>

                        <p> Аппарат бизнес-класса.</p>

                        Модельный ряд 500 - это два уже известных АПК Сенситив Имаго 515 и Сенситив Имаго 500, а также
                        модель Сенситив Имаго 530.
                        <p>
                            Приборы оснащены стандартными периферийными устройствами, имеют достоверность исследований
                            96%
                            фактически одинаковы по функционалу и возможностям длоолюпрограммному обеспечению
                        </p>

                        <p><b>Сенситив Имаго 515 – первая в 500-й серии модель</b></p>

                        <ol class="customList">
                            <li>Ориентация на мировой рынок и рынок стран СНГ (кроме ЕС).</li>
                            <li>Сертифицированы в России и Украине как измерительное оборудование.</li>
                            <li>Гарантийное обслуживание в течении 1 года.</li>
                        </ol>

                        <b>Сенситив Имаго 500</b>
                        <ul>
                            <li>Ориентирован на общемировой рынок (кроме ЕС)</li>
                            <li>Повышена надежность, путем использования материалов и комплектующих производства стран
                                ЕС. Сборка, пайка и материалы соответствуют всем требованиям Евро стандартов.
                            </li>
                            <li>Сертифицирован как измерительное оборудование класс 1.</li>
                            <li>Гарантия 2 года.</li>
                        </ul>

                        <b>Новая модель Сенситив Имаго 500</b>

                        <ol class="customList">
                            <li>Отличается внешним видом</li>
                            <li>Изменены ручные датчики</li>
                            <li>Изменены проводники в квантово-оптическом модуляторе</li>
                            <li>Соединительные провода получили пластиковое покрытие</li>
                            <li>Имеется цветовая градация мест подсоединения с прибором</li>
                            <li>Разрешена к реализации в странах ЕС, а также на общемировом рынке</li>
                            <li>Используются европейские материалы и технологии. Производство проходит в соответствии
                                с требованиями Европейских стандартов менеджмента качества 9001 full
                            </li>
                            <li>Сертифицирован как медицинское оборудование, класс 2</li>
                            <li>Гарантия 2 года</li>
                        </ol>

                        <p>Сборка АПК на заводе регламентируется стандартами ISO 9001 и ISO 13485. На предприятиях
                            ведется жесткий контроль качества аппаратов – каждый прибор, прежде чем попадет к заказчику,
                            проходит базовые и дополнительные, 10ти дневные испытания в лабораториях АФК-система.
                            Неполадки и низкое качество аппаратуры практически исключены.
                            Эта модель оснащена жидкокристаллическим дисплеем в корпусе прибора, через него оператор
                            может получать важную и конфиденциальную служебную информацию.</p>

                    </div>
                    <hr>
                    <div class="grid grid--justify-center grid--md-justify-between grid--items-end">
                        <div class="grid__cell grid__cell--grow grid__cell--sm-nogrow">
                            <div class="shareBlock">
                                <div class="shareBlock__title">Понравилась страница?</div>
                                <div class="shareBlock__text">Расскажите друзьям</div>
                                <svg class="shareBlock__arrow"><use xlink:href="hidden/sprite.svg#share_arrow"></use></svg>
                                <img src="css/pic/share.png" alt="">
                            </div>
                        </div>
                        <div class="grid__cell buttonsArray">
                            <a href="#"  class="button button--primary button--in-sectionFooter _mb">УЗНАТЬ ПРАЙС</a>
                            <a href="#"  class="button button--link button--in-sectionFooter">ДОПОЛНИТЕЛЬНАЯ КОМПЛЕКТАЦИЯ</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
<%- partial('../widgets/devices', {'color_inverse': false}) %>
