<%
// alias текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>

<div class="pageSize">
	<section class="pageAside">
		<% var Menu = [
			{
				text: 'Фото',
				url: 'gallery_photo',
				active:true
			}, {
				text: 'Видео',
				url: 'gallery_video'
			}
		];

		%>

		<ul class="asideMenu">
			<%- buildMenu(Menu) %>


		</ul>
	</section>
</div>

<%- partial('../widgets/devices', {'color_inverse': false}) %>
