<%
// alias текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>

<section class="pageSection">
	<div class="sectionHeader">Основные возможности оборудования</div>
</section>
<section class="pageSection">
	<div class="sectionHeader">Наши приемущества</div>
</section>
<section class="pageSection">
	<div class="sectionHeader">Наша команда</div>
</section>
<section class="pageSection">
	<div class="sectionHeader">Отзывы наших пользователей</div>
</section><section class="pageSection">
	<div class="sectionHeader">Отзывы наших пациентов</div>
</section><section class="pageSection">
	<div class="sectionHeader">Модели приборов</div>
</section><section class="pageSection">
	<div class="sectionHeader">Свежие новости</div>
</section>