<%
	// конфиг текущего файлы
	locals._activeFile = 'index';

	var users = ['geddy', 'neil', 'alex'];
%>
<% include ../_config %>
<% layout('../layouts/main') %>

<ul><% users.forEach(function(user){ %><li><%- user %></li><% }); %></ul>
