<%
// конфиг текущего файлы
locals._activeFile = _getActiveFile(filename);
%>
<% include ../config %>
<% layout('../layouts/main'); %>

<div class="pageSize">
	<%- partial('widgets/breadcrumbs', {
		data: [
			['Главная страница', 'index.html'],
			['Категория товаров', 'index.html'],
			['Страница товара']
		]
	}) %>
	<div class="pageSection">
		Контент главной
	</div>
</div>
