<%
	// alias текущего файлы
	locals._activeFile = _getActiveFile(filename);
%>
<% include ../_config %>
<% layout('../layouts/main') %>
<!-- @htmldoc
	Это пример для документации
	@todo ограничить текст в 300 символов
	@todo тестовый блок.
-->
<p>index</p>
