@mixin util-visibility {
	._hide {
		display: none;
	}
	._hide\! {
		display: none !important;
	}
	@each $name,
	$v in $breakpoints {
		@include media($name) {
			._#{$name}#{$suffix}hide {
				display: none;
			}
			._#{$name}#{$suffix}hide\! {
				display: none !important;
			}
		}
		@include media($name, max) {
			._#{$name}#{$suffix}show {
				display: none;
			}
			._#{$name}#{$suffix}show\! {
				display: none !important;
			}
		}
	}
	@media print {
		._hide-for-print {
			display: none !important;
		}
	}
}