@mixin fonts($name, $weight, $style, $path) {
    @font-face {
        font-family: $name;
        src: url(#{$path}.woff2) format('woff2'), url(#{$path}.woff) format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}
