<% let endPoint = data.pop(); %>
<% if (data.length) { %>
<div class="pageBreadcrumbs">
	<% for (var i = 0; i < data.length; i++) { %>
		<span>
			<a href="<%- data[i][1] %>"><%- data[i][0] %></a>
		</span>
	<% } %>
	<span><%- endPoint[0] %></span>
</div>
<!-- pageBreadcrumbs -->
<% } %>
