<!-- Начало виджета приборы -->
<section class="pageSection _bg-white">
	<div class="pageSize">
		<div class="sectionTitle">Модели приборов</div>
		<div class="grid grid--2 grid--space-x2">
			<% var devices = ['100/120', '500/520', '130', '530'] %>
			<% for (i in devices) { %>
			<div class="grid__cell mediaBlock">
				<div class="mediaBlock__image"
					 style="background-image: url('images/model<%= devices[i].replace('/', '-') %>.jpg');"></div>
				<div class="mediaBlock__content">
					<div class="mediaBlock__title">Cенситив Имаго <%= devices[i] %></div>
					<div class="mediaBlock__text">
						<div class="mediaBlock__textInner">
							Медицинское лечебно-диагностическое оборудование предназначено для неинвазивного
							комплексного
						</div>
					</div>
					<a href="#" class="button button--inverse">Узнать прайс</a>
				</div>
			</div>
			<% } %>
		</div>
		<hr>
		<div class="grid grid--justify-between grid--items-end">
			<div class="grid__cell">
				<div class="shareBlock">
					<div class="shareBlock__title">Понравилась страница?</div>
					<div class="shareBlock__text">Расскажите друзьям</div>
					<svg class="shareBlock__arrow"><use xlink:href="hidden/sprite.svg#share_arrow"></use></svg>
					<img src="css/pic/share.png" alt="">
				</div>
			</div>
			<div class="grid__cell">
				<a href="equipment_models.html"  class="button button--primary button--in-sectionFooter">СМОТРЕТЬ БОЛЬШЕ</a>
			</div>
		</div>
	</div>
</section>
<!-- Конец виджета приборы -->