<div class="pageHeader">
	<div class="pageHeader__top">
		<div class="pageSize">
			<div class="grid grid--justify-between grid--items-center">
				<div class="grid__cell">
					<div class="copyright">ТОВ Альфа-Мед Юкрейн</div>
				</div>
				<div class="grid__cell">
					<div class="languageLinks">
						<% var Languages = ['spa', 'fra', 'ru', 'eng', 'deu'] %>
						<% for (lang in Languages) { %>
						<a href="#" class="languageLink">
							<div class="languageLink__icon"
								 style="background-image: url('css/pic/flag-<%= Languages[lang] %>.jpg');"></div>
							<span class="languageLink__text"><%= Languages[lang] %></span>
						</a>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pageHeader__main">
		<div class="pageSize">
			<div class="grid grid--justify-between">
				<div class="grid__cell">
					<div class="logo">
						<div class="logo__image">
							<img src="css/pic/logo.svg" alt="">
						</div>
						<div class="logo__text">
							<big>Сенситив Имаго</big>
							<small>Медицинское оборудование</small>
						</div>
					</div>
				</div>
				<div class="grid__cell">
					<div class="grid__box">
						<div class="grid grid--space contactsBlock">
							<div class="grid__cell">
								<div class="contactItem">
									<div class="contactItem__key">Skype:</div>
									<div class="contactItem__value">XXXX</div>
								</div>
							</div>
							<div class="grid__cell">
								<div class="contactItem">
									<div class="contactItem__key">
										<svg>
											<use xlink:href="hidden/sprite.svg#phone"></use>
										</svg>
									</div>
									<div class="contactItem__value">+38 (050) 227-XX-XX<br>+38 (050) 227-XX-XX</div>
								</div>
							</div>
							<div class="grid__cell">
								<div class="contactItem">
									<div class="contactItem__key">
										<svg>
											<use xlink:href="hidden/sprite.svg#mail"></use>
										</svg>
									</div>
									<div class="contactItem__value">XXXXXX@gmail.com</div>
								</div>
								<button class="button button--primary _mt">Показать контакты</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grid grid--justify-end heroBlock">
				<div class="grid__cell grid__cell--7">
					<div class="heroBlock__text">
						<small>Лучшее решение</small>
						<br>
						Для<br> медицинского<br> бизнеса
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pageHeader__menu">
		<div class="pageSize">
			<ul class="topMenu">
				<li class="is-active"><a href="index.html">Главная</a></li>
				<li><a href="about.html">О компании</a></li>
				<li><a href="equipment.html">Оборудование</a></li>
				<li><a href="bussness.html">Бизнес под ключ</a></li>
				<li><a href="gallery.html">Галерея</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
		</div>
	</div>
</div>
