<!-- Начало виджета pageAside -->
<section class="pageAside js-multiLevelMenu">
	<ul class="asideMenu">
		<%- Build.menu(Menu) %>
	</ul>
	<a href="#" class="button button--primary button--expand button--in-aside">УЗНАТЬ ПРАЙС</a>

	<%- partial('../widgets/pageAside/lastNews', {}) %>

</section>
<!-- Конец виджета pageAside -->